# Pandas Basics

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
import pandas as pd

#plt.style.use('fivethirtyeight')
#sns.set_context("notebook")

## Creating a Dataframe </a>

Pandas introduces a data structure (i.e. dataframe) that represents data as a table with columns and rows.

In Pandas, we can use the function `pd.DataFrame` to initialize a dataframe from a dictionary or a list-like object. Refer to the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) for more information

In [4]:
# example: creating a dataframe from a dictionary
df_from_dict = pd.DataFrame({ 'letter' : ['a', 'b', 'c', 'z'],
                      'count' : [  9,   3,   3,    1],
                      'points' : [  1,   2,   2,  10]
                      })
df_from_dict

  letter  count  points
0      a      9       1
1      b      3       2
2      c      3       2
3      z      1      10

We can also use list of dictionary to initialize a dataframe:

In [4]:
# example: creating a dataframe from a list of dictionary
df_from_listofdict = pd.DataFrame([
    {"letter":"a","count":9,"points":1,"name":"abc"},
    {"letter":"b","count":3,"points":2},
    {"letter":"c","count":3,"points":2},
    {"letter":"d","count":1,"points":10},
])
df_from_listofdict

  letter  count  points name
0      a      9       1  abc
1      b      3       2  NaN
2      c      3       2  NaN
3      d      1      10  NaN

## Reading in DataFrames from Files

Pandas has a number of very useful file reading tools. You can see them enumerated by typing "pd.re" and pressing tab. We'll be using read_csv today.

In [23]:
# elections = pd.read_csv("elections.csv")
u = pd.read_csv("elections.csv")
elections # if we end a cell with an expression or variable name, the result will print

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

In [24]:
u['Result'] = u.loc[:,"Result"].map({ 'win':True, 'loss':False})
print(u[u['Result'] == True]['%'].mean(),u[u['Result'] == False]['%'].mean())

50.38 36.46153846153846

We can use the head command to return only a few rows of a dataframe.

In [6]:
elections.head(10)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss
7   Clinton   Democratic  43.0  1992    win
8      Bush   Republican  37.4  1992   loss
9     Perot  Independent  18.9  1992   loss

There is also a tail command.

In [7]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The read_csv command lets us specify a column to use an index. For example, we could have used Year as the index.

在读取文件时将某一列设置为索引读入 pd.read_csv("文件名",index_col = "列名")

In [3]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")    
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

Alternately, we could have used the set_index commmand.

或者采用set_index("")的方式将某一列设置为索引

In [9]:
elections_party_index = elections.set_index("Party")  # 将Party设置为Index
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

The set_index command (along with all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe.

By contrast, column names are ideally unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically rename any duplicates.
列名是唯一的，若相同会自动生成一个不同的列名。

In [10]:
dups = pd.read_csv("duplicate_columns.csv")
dups

    name    name.1     flavor
0   john     smith    vanilla
1  zhang      shan  chocolate
2  fulan  alfulani        NaN
3   hong   gildong     banana

## The [] Operator

The DataFrame class has an indexing operator [] that lets you do a variety of different things. If your provide a String to the [] operator, you get back a Series corresponding to the requested label.

In [11]:
elections_year_index.head(6)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win

单独对列进行选择

In [12]:
elections_year_index["Candidate"]#.head(6)

Year
1980      Reagan
1980      Carter
1980    Anderson
1984      Reagan
1984     Mondale
1988        Bush
1988     Dukakis
1992     Clinton
1992        Bush
1992       Perot
1996     Clinton
1996        Dole
1996       Perot
2000        Gore
2000        Bush
2004       Kerry
2004        Bush
2008       Obama
2008      McCain
2012       Obama
2012      Romney
2016     Clinton
2016       Trump
Name: Candidate, dtype: object

The [] operator also accepts a list of strings. In this case, you get back a DataFrame corresponding to the requested strings.

[]运算符还接受字符串列表。在这种情况下，您将获得与请求的字符串相对应的DataFrame。

In [13]:
elections_year_index[["Candidate", "Party"]].head()

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.
返回结果仍为DataFrame

若想要结果返回的是DataFrame，再套一个[]返回list

In [14]:
elections_year_index[["Candidate"]].head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

Note that we can also use the to_frame method to turn a Series into a DataFrame.

或者采用to_frame()方法将序列转换成DataFrame

In [14]:
elections_year_index["Candidate"].to_frame().head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

The [] operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

[]的切片操作按行选取

In [20]:
elections_year_index[0:3]

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss

If you provide a single argument to the [] operator, it tries to use it as a name. This is true even if the argument passed to [] is an integer.

In [5]:
elections_year_index[0] #this does not work, try uncommenting this to see it fail in action, woo

NameError: name 'elections_year_index' is not defined

The following cells allow you to test your understanding.

In [22]:
weird = pd.DataFrame({
    1:["topdog","botdog"], 
    "1":["topcat","botcat"]
})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

[]中填入单个word默认对列选取，若该数字刚好是列名，返回该列的元素；若没有该列，则报错。

In [23]:
weird[1]

0    topdog
1    botdog
Name: 1, dtype: object

In [24]:
weird["1"]

0    topcat
1    botcat
Name: 1, dtype: object

In [25]:
weird[0:]

        1       1
0  topdog  topcat
1  botdog  botcat

## Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a filtered version of the data frame, where only rows corresponding to True appear.

In [26]:
elections_year_index

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win
1988   Dukakis   Democratic  45.6   loss
1992   Clinton   Democratic  43.0    win
1992      Bush   Republican  37.4   loss
1992     Perot  Independent  18.9   loss
1996   Clinton   Democratic  49.2    win
1996      Dole   Republican  40.7   loss
1996     Perot  Independent   8.4   loss
2000      Gore   Democratic  48.4   loss
2000      Bush   Republican  47.9    win
2004     Kerry   Democratic  48.3   loss
2004      Bush   Republican  50.7    win
2008     Obama   Democratic  52.9    win
2008    McCain   Republican  45.7   loss
2012     Obama   Democratic  51.1    win
2012    Romney   Republican  47.2   loss
2016   Clinton   Democratic  48.2   loss
2016     Trump   Republican  46.1    win

In [16]:
elections_year_index[(elections_year_index["%"]>=50)  & (elections_year_index["Party"]=="Democratic")]

     Candidate       Party     % Result
Year
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win

One very common task in Data Science is filtering. Boolean Array Selection is one way to achieve this in Pandas. We start by observing logical operators like the equality operator can be applied to Pandas Series data to generate a Boolean Array. For example, we can compare the 'Result' column to the String 'win':

In [28]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [20]:
iswin = elections_year_index['Result'] == 'win'
iswin#.head(5)

Year
1980     True
1980    False
1980    False
1984     True
1984    False
1988     True
1988    False
1992     True
1992    False
1992    False
1996     True
1996    False
1996    False
2000    False
2000     True
2004    False
2004     True
2008     True
2008    False
2012     True
2012    False
2016    False
2016     True
Name: Result, dtype: bool

In [21]:
elections_year_index[elections_year_index['Result'] == 'win']

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

The output of the logical operator applied to the Series is another Series with the same name and index, but of datatype boolean. The entry at row #i represents the result of the application of that operator to the entry of the original Series at row #i.

Such a boolean Series can be used as an argument to the [] operator. For example, the following code creates a DataFrame of all election winners since 1980.

In [30]:
elections_year_index[iswin]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

In [31]:
elections_year_index[elections_year_index['Result'] == 'win']

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

In [33]:
win50plus = (elections_year_index['Result'] == 'win') & (elections_year_index['%'] < 50)

In [34]:
win50plus.head(110)

Year
1980    False
1980    False
1980    False
1984    False
1984    False
1988    False
1988    False
1992     True
1992    False
1992    False
1996     True
1996    False
1996    False
2000    False
2000     True
2004    False
2004    False
2008    False
2008    False
2012    False
2012    False
2016    False
2016     True
dtype: bool

In [22]:
elections_year_index[(elections_year_index['Result'] == 'win') & (elections_year_index['%'] < 50)]

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

The | operator is the symbol for or.

In [23]:
elections_year_index[(elections_year_index['Party'] == 'Republican') | (elections_year_index['Party'] == "Democratic")]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

If we have multiple conditions (say Republican or Democratic), we can use the isin operator to simplify our code.

判断某列的元素是不是含有某些元素的方法：.isin()

In [37]:
elections_year_index['Party'].isin(["Republican", "Democratic"])

Year
1980     True
1980     True
1980    False
1984     True
1984     True
1988     True
1988     True
1992     True
1992     True
1992    False
1996     True
1996     True
1996    False
2000     True
2000     True
2004     True
2004     True
2008     True
2008     True
2012     True
2012     True
2016     True
2016     True
Name: Party, dtype: bool

In [38]:
elections_year_index[elections_year_index['Party'].isin(["Republican", "Democratic"])]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

## Label-based access with `loc`

同时筛选行和列：loc函数

In [39]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [40]:
elections.loc[[0, 1, 5, 6, 7], ['Candidate','Party', 'Year']]
# 前置条件为行，后置条件为列，看成列的存储形式

  Candidate       Party  Year
0    Reagan  Republican  1980
1    Carter  Democratic  1980
5      Bush  Republican  1988
6   Dukakis  Democratic  1988
7   Clinton  Democratic  1992

Note: The `loc` command won't work with numeric arguments if we're using the elections DataFrame that was indexed by year.

In [41]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [42]:
#causes error
elections_year_index.loc[[1980], ['Candidate','Party']]

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent

In [43]:
elections_year_index.loc[[1980, 1984], ['Candidate','Party']]

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

Loc also supports slicing (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

In [44]:
elections.loc[0:4, 'Candidate':'Year']

  Candidate        Party     %  Year
0    Reagan   Republican  50.7  1980
1    Carter   Democratic  41.0  1980
2  Anderson  Independent   6.6  1980
3    Reagan   Republican  58.8  1984
4   Mondale   Democratic  37.6  1984

In [45]:
elections_year_index.loc[1980:1984, 'Candidate':'Party']

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

If we provide only a single label for the column argument, we get back a Series.

In [46]:
elections.loc[0:4, 'Candidate']

0      Reagan
1      Carter
2    Anderson
3      Reagan
4     Mondale
Name: Candidate, dtype: object

If we want a data frame instead and don't want to use to_frame, we can provde a list containing the column name.

In [47]:
elections.loc[0:4, ['Candidate']]

  Candidate
0    Reagan
1    Carter
2  Anderson
3    Reagan
4   Mondale

If we give only one row but many column labels, we'll get back a Series corresponding to a row of the table. This new Series has a neat index, where each entry is the name of the column that the data came from.

In [48]:
elections.head(1)

  Candidate       Party     %  Year Result
0    Reagan  Republican  50.7  1980    win

In [49]:
elections.loc[0, 'Candidate':'Year']

Candidate        Reagan
Party        Republican
%                  50.7
Year               1980
Name: 0, dtype: object

In [50]:
elections.loc[[0], 'Candidate':'Year']

  Candidate       Party     %  Year
0    Reagan  Republican  50.7  1980

If we omit the column argument altogether, the default behavior is to retrieve all columns.

In [51]:
elections.loc[[2, 4, 5]]

  Candidate        Party     %  Year Result
2  Anderson  Independent   6.6  1980   loss
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win

Loc also supports boolean array inputs instead of labels. The Boolean arrays _must_ be of the same length as the row/column shape of the dataframe, respectively.

In [52]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              [True, False, False, True, True] # column mask
             ]

   Candidate  Year Result
0     Reagan  1980    win
3     Reagan  1984    win
6    Dukakis  1988   loss
7    Clinton  1992    win
8       Bush  1992   loss
11      Dole  1996   loss
12     Perot  1996   loss
13      Gore  2000   loss
15     Kerry  2004   loss
16      Bush  2004    win
20    Romney  2012   loss

In [53]:
elections.loc[[0, 3], ['Candidate', 'Year']]

  Candidate  Year
0    Reagan  1980
3    Reagan  1984

We can use boolean array arguments for one axis of the data, and labels for the other.

In [54]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              
              'Candidate':'%' # column label slice
             ]

   Candidate        Party     %
0     Reagan   Republican  50.7
3     Reagan   Republican  58.8
6    Dukakis   Democratic  45.6
7    Clinton   Democratic  43.0
8       Bush   Republican  37.4
11      Dole   Republican  40.7
12     Perot  Independent   8.4
13      Gore   Democratic  48.4
15     Kerry   Democratic  48.3
16      Bush   Republican  50.7
20    Romney   Republican  47.2

What happens if you give scalar arguments for the requested rows AND columns. The answer is that you get back just a single value.

In [55]:
elections.loc[15, '%']

48.3

## Positional access with `iloc`

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. iloc slicing is **exclusive**, just like standard Python slicing of numerical values.

In [56]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [61]:
elections.iloc[:3, :3]

  Candidate        Party     %
0    Reagan   Republican  50.7
1    Carter   Democratic  41.0
2  Anderson  Independent   6.6

## Quick Challenge

Return DataFrame of the first 3 Candidate and Year for candidates that won with more than 50% of the vote.

In [6]:
elections.loc[elections["%"]>50, ["Candidate","Year"]].head(3)#iloc[:3]

NameError: name 'elections' is not defined

## Connect to numpy

The values in dataframe can be converted to numpy arrays easily using ``.values``.

In [64]:
elections.head()

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [65]:
elections["%"].values

array([50.7, 41. ,  6.6, 58.8, 37.6, 53.4, 45.6, 43. , 37.4, 18.9, 49.2,
       40.7,  8.4, 48.4, 47.9, 48.3, 50.7, 52.9, 45.7, 51.1, 47.2, 48.2,
       46.1])

In [66]:
elections.values.T
# 转置，将列变成行

array([['Reagan', 'Carter', 'Anderson', 'Reagan', 'Mondale', 'Bush',
        'Dukakis', 'Clinton', 'Bush', 'Perot', 'Clinton', 'Dole',
        'Perot', 'Gore', 'Bush', 'Kerry', 'Bush', 'Obama', 'McCain',
        'Obama', 'Romney', 'Clinton', 'Trump'],
       ['Republican', 'Democratic', 'Independent', 'Republican',
        'Democratic', 'Republican', 'Democratic', 'Democratic',
        'Republican', 'Independent', 'Democratic', 'Republican',
        'Independent', 'Democratic', 'Republican', 'Democratic',
        'Republican', 'Democratic', 'Republican', 'Democratic',
        'Republican', 'Democratic', 'Republican'],
       [50.7, 41.0, 6.6, 58.8, 37.6, 53.4, 45.6, 43.0, 37.4, 18.9, 49.2,
        40.7, 8.4, 48.4, 47.9, 48.3, 50.7, 52.9, 45.7, 51.1, 47.2, 48.2,
        46.1],
       [1980, 1980, 1980, 1984, 1984, 1988, 1988, 1992, 1992, 1992, 1996,
        1996, 1996, 2000, 2000, 2004, 2004, 2008, 2008, 2012, 2012, 2016,
        2016],
       ['win', 'loss', 'loss', 'win', 'loss', 'win', 'loss', 'win',
        'loss', 'loss', 'win', 'loss', 'loss', 'loss', 'win', 'loss',
        'win', 'win', 'loss', 'win', 'loss', 'loss', 'win']], dtype=object)

## Handy Properties and Utility Functions

### Python Operations on Numerical DataFrames and Series

We can perform various Python operations (including numpy operations) to DataFrames and Series.

In [4]:
max(elections["Year"].values)

2016

In [74]:
np.mean(elections["%"].values)
# 求均值

42.51304347826088

We can also do more complicated operations like computing the mean squared error, i.e. the average L2 loss. (This will mean more in the next few weeks.)

In [79]:
winners = elections["%"]
winners

0     50.7
1     41.0
2      6.6
3     58.8
4     37.6
5     53.4
6     45.6
7     43.0
8     37.4
9     18.9
10    49.2
11    40.7
12     8.4
13    48.4
14    47.9
15    48.3
16    50.7
17    52.9
18    45.7
19    51.1
20    47.2
21    48.2
22    46.1
Name: %, dtype: float64

In [80]:
c = 50.38
mse = np.mean((c - winners)**2)
mse

235.59883478260872

In [81]:
c2 = 50.35
mse2 = np.mean((c2 - winners)**2)
mse2

235.1277173913044

We can also apply mathematical operations to a DataFrame so long as it has only numerical data.

In [87]:
(elections[["%", "Year"]]+3 ).head(5)
# 给每一列的数值加3

      %  Year
0  53.7  1983
1  44.0  1983
2   9.6  1983
3  61.8  1987
4  40.6  1987

### Handy Utility Methods

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with.

In [88]:
elections.describe()

               %         Year
count  23.000000    23.000000
mean   42.513043  1996.869565
std    13.476117    11.627961
min     6.600000  1980.000000
25%    40.850000  1988.000000
50%    47.200000  1996.000000
75%    49.950000  2006.000000
max    58.800000  2016.000000

We can get a direct reference to the index using `.index`, and access the column names using `.columns`

In [102]:
elections.index
elections.columns

Index(['Candidate', 'Party', '%', 'Year', 'Result'], dtype='object')

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [100]:
elections.sort_values('%', ascending=False)

   Candidate        Party     %  Year Result
3     Reagan   Republican  58.8  1984    win
5       Bush   Republican  53.4  1988    win
17     Obama   Democratic  52.9  2008    win
19     Obama   Democratic  51.1  2012    win
0     Reagan   Republican  50.7  1980    win
16      Bush   Republican  50.7  2004    win
10   Clinton   Democratic  49.2  1996    win
13      Gore   Democratic  48.4  2000   loss
15     Kerry   Democratic  48.3  2004   loss
21   Clinton   Democratic  48.2  2016   loss
14      Bush   Republican  47.9  2000    win
20    Romney   Republican  47.2  2012   loss
22     Trump   Republican  46.1  2016    win
18    McCain   Republican  45.7  2008   loss
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
1     Carter   Democratic  41.0  1980   loss
11      Dole   Republican  40.7  1996   loss
4    Mondale   Democratic  37.6  1984   loss
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
12     Perot  Independent   8.4  1996   loss
2   Anderson  Independent   6.6  1980   loss

For Series, the `value_counts` method is often quite handy.

In [104]:
elections['Result'].value_counts()
# 相同元素出现的次数

loss    13
win     10
Name: Result, dtype: int64

Also commonly used is the `unique` method, which returns all unique values as a numpy array.

In [107]:
elections['Year'].unique()

array([1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016],
      dtype=int64)

# Baby Names Data Analysis

Now let's play around a bit with a babyname dataset.

In [115]:
# load the data
column_names = ['State', 'Sex', 'Year', 'Name', 'Count']
babynames = pd.read_csv("./baby_name_IL.TXT", header=None, names=column_names)

babynames.head(5)

  State Sex  Year      Name  Count
0    IL   F  1910      Mary   1076
1    IL   F  1910     Helen    917
2    IL   F  1910   Dorothy    553
3    IL   F  1910  Margaret    501
4    IL   F  1910   Mildred    426

Goal 1: What's the data types of each column?

Goal 2: Find the most popular baby name in IL in 2018

In [114]:
babynames[babynames["Year"] == 2018].sort_values("Count",ascending = False).head(1)

       State Sex  Year    Name  Count
129136    IL   F  2018  Olivia    718

Goal 3: Baby names that start with J.

In [119]:
list(babynames.loc[[name.startswith("J") for name in babynames["Name"]],"Name"].values)

['Josephine',
 'Jean',
 'Julia',
 'Jane',
 'Jennie',
 'Jessie',
 'Juanita',
 'Jeanette',
 'June',
 'Jeannette',
 'Johanna',
 'Joan',
 'Jewel',
 'Janet',
 'Joyce',
 'Jeanne',
 'Jewell',
 'Janice',
 'Joanne',
 'Judith',
 'Josephine',
 'Julia',
 'Jean',
 'Jessie',
 'Jane',
 'Juanita',
 'Jennie',
 'Jeanette',
 'Janet',
 'Joan',
 'June',
 'Jeannette',
 'Jeanne',
 'Jewell',
 'Johanna',
 'Joyce',
 'Judith',
 'Janice',
 'Jewel',
 'Julie',
 'Josephine',
 'Jean',
 'Julia',
 'Jane',
 'Jeanette',
 'Jennie',
 'Jessie',
 'June',
 'Juanita',
 'Janet',
 'Jeannette',
 'Joan',
 'Jeanne',
 'Johanna',
 'Janice',
 'Joyce',
 'Jewell',
 'Jessica',
 'Judith',
 'Jacqueline',
 'Jenny',
 'Joanna',
 'Joanne',
 'Josie',
 'Judy',
 'Josephine',
 'Jean',
 'Julia',
 'Jane',
 'Jennie',
 'Juanita',
 'Jessie',
 'Jeanette',
 'Janet',
 'June',
 'Jeannette',
 'Jeanne',
 'Joan',
 'Johanna',
 'Jewell',
 'Jewel',
 'Joyce',
 'Judith',
 'Joanne',
 'Janice',
 'Janie',
 'Julie',
 'Jacqueline',
 'Jule',
 'Janette',
 'Jayne',
 'Joann',
 'John',
 'Janith',
 'Josie',
 'Josephine',
 'Jean',
 'Julia',
 'Jane',
 'June',
 'Juanita',
 'Jennie',
 'Jeanette',
 'Jessie',
 'Jeannette',
 'Janet',
 'Joan',
 'Jeanne',
 'Johanna',
 'Jewel',
 'Joyce',
 'Jewell',
 'Janice',
 'Julie',
 'Joanna',
 'Joy',
 'Judith',
 'Jacqueline',
 'Janette',
 'John',
 'Josephine',
 'Jean',
 'Julia',
 'Jane',
 'June',
 'Jennie',
 'Juanita',
 'Jessie',
 'Jeanette',
 'Joan',
 'Janet',
 'Jeanne',
 'Jeannette',
 'Johanna',
 'Joyce',
 'Jewel',
 'Janice',
 'Jewell',
 'Jayne',
 'Judith',
 'Joanne',
 'Justine',
 'Joanna',
 'Jacqueline',
 'Joy',
 'Jenny',
 'Judy',
 'Julie',
 'Jerry',
 'Joann',
 'Josie',
 'Janette',
 'Janis',
 'Jessica',
 'Juliana',
 'Josephine',
 'Jean',
 'Jane',
 'June',
 'Julia',
 'Jennie',
 'Juanita',
 'Jeanette',
 'Jessie',
 'Janet',
 'Joan',
 'Jeannette',
 'Jeanne',
 'Joyce',
 'Johanna',
 'Judith',
 'Janice',
 'Jewel',
 'Jayne',
 'Julie',
 'Joanne',
 'Jewell',
 'Joanna',
 'Joy',
 'Joann',
 'Jenny',
 'Jeane',
 'John',
 'Judy',
 'Jacqueline',
 'Jerry',
 'Juliana',
 'Justine',
 'Johnnie',
 'Josie',
 'Juliette',
 'Janette',
 'Janis',
 'Juliet',
 'Josephine',
 'Jean',
 'June',
 'Jane',
 'Julia',
 'Jeanette',
 'Jennie',
 'Juanita',
 'Janet',
 'Jessie',
 'Jeanne',
 'Joan',
 'Jeannette',
 'Joyce',
 'Johanna',
 'Janice',
 'Jewel',
 'Jayne',
 'Judith',
 'Jewell',
 'Joanna',
 'John',
 'Jacqueline',
 'Joann',
 'Joy',
 'Julie',
 'Joanne',
 'Josie',
 'Justine',
 'Jenny',
 'Judy',
 'Jule',
 'Jeane',
 'Jerry',
 'Jo',
 'Joseph',
 'James',
 'Janette',
 'Jaunita',
 'Jeraldine',
 'Juliana',
 'Julianne',
 'Josephine',
 'Jean',
 'June',
 'Jane',
 'Julia',
 'Jeanette',
 'Juanita',
 'Jeanne',
 'Jennie',
 'Joan',
 'Janet',
 'Jessie',
 'Jeannette',
 'Joyce',
 'Jewell',
 'Johanna',
 'Janice',
 'Jayne',
 'Jewel',
 'Judith',
 'Joy',
 'Julie',
 'Jacqueline',
 'Joanna',
 'Jaunita',
 'Joann',
 'Joanne',
 'Justine',
 'John',
 'Janette',
 'Jenny',
 'James',
 'Jessica',
 'Judy',
 'Jule',
 'Juliana',
 'Julianna',
 'Janis',
 'Joseph',
 'Josephine',
 'Jean',
 'June',
 'Jane',
 'Julia',
 'Jeanette',
 'Juanita',
 'Jeanne',
 'Jennie',
 'Janet',
 'Jessie',
 'Joan',
 'Jeannette',
 'Joyce',
 'Janice',
 'Jayne',
 'Jewel',
 'Johanna',
 'Jacqueline',
 'Jewell',
 'Judith',
 'John',
 'Julie',
 'Joy',
 'Joanna',
 'Joanne',
 'Josie',
 'James',
 'Jeane',
 'Jerry',
 'Janette',
 'Joann',
 'Justine',
 'Janie',
 'Jenny',
 'Jo',
 'Joe',
 'Judy',
 'Juliette',
 'Joseph',
 'Juliet',
 'Jean',
 'Josephine',
 'June',
 'Jane',
 'Julia',
 'Juanita',
 'Jeanette',
 'Jeanne',
 'Janet',
 'Joan',
 'Jennie',
 'Jessie',
 'Jeannette',
 'Joyce',
 'Jacqueline',
 'Johanna',
 'Judith',
 'Joanne',
 'Janice',
 'Jayne',
 'Jewel',
 'Jewell',
 'Joy',
 'Jeane',
 'Jenny',
 'Joanna',
 'Julie',
 'James',
 'Judy',
 'Janis',
 'John',
 'Joann',
 'Jaunita',
 'Jerry',
 'Janette',
 'Juliet',
 'Jean',
 'Josephine',
 'June',
 'Jane',
 'Juanita',
 'Jeanette',
 'Jeanne',
 'Julia',
 'Joan',
 'Janet',
 'Jennie',
 'Joyce',
 'Jessie',
 'Jacqueline',
 'Jeannette',
 'Janice',
 'Jewel',
 'Jewell',
 'Jayne',
 'Joanne',
 'Johanna',
 'Joy',
 'Judith',
 'Justine',
 'Julie',
 'James',
 'Jenny',
 'Joann',
 'Janis',
 'Jeane',
 'Jerry',
 'John',
 'Johnnie',
 'Joanna',
 'Judy',
 'Jacquelyn',
 'Janette',
 'Josie',
 'Jean',
 'June',
 'Josephine',
 'Jane',
 'Jeanne',
 'Julia',
 'Juanita',
 'Jeanette',
 'Joan',
 'Janet',
 'Jennie',
 'Jacqueline',
 'Joyce',
 'Jeannette',
 'Jessie',
 'Jayne',
 'Janice',
 'Judith',
 'Jewell',
 'Jewel',
 'Joann',
 'Johanna',
 'Joanne',
 'Joy',
 'Jacquelyn',
 'John',
 'Justine',
 'James',
 'Jerry',
 'Joanna',
 'Julie',
 'Josie',
 'Judy',
 'Janette',
 'Jo',
 'Joseph',
 'Juliette',
 'Jeane',
 'Jeanet',
 'Jenny',
 'Johnnie',
 'Juliet',
 'Jean',
 'June',
 'Josephine',
 'Jane',
 'Jeanne',
 'Juanita',
 'Jeanette',
 'Julia',
 'Joan',
 'Janet',
 'Jacqueline',
 'Joyce',
 'Jennie',
 'Jeannette',
 'Jessie',
 'Janice',
 'Joanne',
 'Judith',
 'Joy',
 'Jewell',
 'Jewel',
 'Johanna',
 'John',
 'Joann',
 'Jacquelyn',
 'Jayne',
 'Julie',
 'Jerry',
 'Joanna',
 'Jo',
 'Janis',
 'Jaunita',
 'Jenny',
 'Jeane',
 'Johnnie',
 'James',
 'Joseph',
 'Juliet',
 'Justine',
 'Joe',
 'Judy',
 'Jean',
 'June',
 'Josephine',
 'Joan',
 'Jane',
 'Jeanne',
 'Juanita',
 'Jeanette',
 'Julia',
 'Joyce',
 'Jacqueline',
 'Janet',
 'Jennie',
 'Jessie',
 'Jeannette',
 'Janice',
 'Joanne',
 'Johanna',
 'Jewell',
 'Joann',
 'Judith',
 'Jacquelyn',
 'Joy',
 'Jewel',
 'Jackie',
 'John',
 'Jo',
 'Jaunita',
 'Julie',
 'Jayne',
 'Jeane',
 'Janette',
 'Jenny',
 'Johnnie',
 'Justine',
 'Janis',
 'Jerry',
 'Judy',
 'James',
 'Joanna',
 'Janie',
 'Jocelyn',
 'Joe',
 'Jule',
 'Jean',
 'June',
 'Josephine',
 'Joan',
 'Jane',
 'Jeanne',
 'Juanita',
 'Joyce',
 'Jeanette',
 'Julia',
 'Jacqueline',
 'Janet',
 'Jennie',
 'Janice',
 'Jessie',
 'Jeannette',
 'Judith',
 'Joanne',
 'Jewell',
 'Joy',
 'Johanna',
 'Joann',
 'Jayne',
 'James',
 'Jacquelyn',
 'John',
 'Julie',
 'Jewel',
 'Jenny',
 'Jo',
 'Janis',
 'Judy',
 'Janette',
 'Johnnie',
 'Joanna',
 'Josie',
 'Jeane',
 'Jimmie',
 'Jule',
 'Jack',
 'Jacquelin',
 'Jaunita',
 'Joseph',
 'Jackie',
 'Janie',
 'Jeannie',
 'Juliette',
 'Jean',
 'June',
 'Joan',
 'Josephine',
 'Joyce',
 'Jeanne',
 'Juanita',
 'Jane',
 'Julia',
 'Jeanette',
 'Jacqueline',
 'Janet',
 'Joanne',
 'Jennie',
 'Janice',
 'Jessie',
 'Joy',
 'Jeannette',
 'Joann',
 'Judith',
 'Jo',
 'Jewel',
 'Joanna',
 'Johanna',
 'Judy',
 'Jacquelyn',
 'John',
 'Jackie',
 'Jenny',
 'Julie',
 'Jayne',
 'Jewell',
 'Johnnie',
 'Jeane',
 'Joseph',
 'Janette',
 'Jerry',
 'James',
 'Josie',
 'Jaunita',
 'Joe',
 'Justine',
 'Jeannie',
 'Jeraldine',
 'Jill',
 'Jean',
 'Joan',
 'June',
 'Josephine',
 'Joyce',
 'Jane',
 'Jeanne',
 'Juanita',
 'Jacqueline',
 'Janet',
 'Julia',
 'Jeanette',
 'Joanne',
 'Joann',
 'Janice',
 'Jennie',
 'Jessie',
 'Joy',
 'Jeannette',
 'Judith',
 'Jo',
 'Jacquelyn',
 'Jewel',
 'John',
 'Johanna',
 'Jewell',
 'Janis',
 'Judy',
 'James',
 'Joanna',
 'Julie',
 'Jackie',
 'Justine',
 'Janette',
 'Jayne',
 'Jerry',
 'Jeane',
 'Jeanie',
 'Joseph',
 'Jaunita',
 'Jenny',
 'Jocelyn',
 'Johnnie',
 'Josefina',
 'Josie',
 'Jan',
 'Janie',
 'Jetta',
 'Juliana',
 'Juliette',
 'Jean',
 'Joan',
 'June',
 'Joyce',
 'Josephine',
 'Jeanne',
 'Jane',
 'Juanita',
 'Jacqueline',
 'Jeanette',
 'Joanne',
 'Janet',
 'Julia',
 'Janice',
 'Joann',
 'Joy',
 'Jennie',
 'Jeannette',
 'Jo',
 'Jeannine',
 'Jessie',
 'Judith',
 'Jacquelyn',
 'James',
 'Jenny',
 'Johanna',
 'Jackie',
 'Janette',
 'Joanna',
 'Jewel',
 'John',
 'Jewell',
 'Jerry',
 'Janie',
 'Judy',
 'Jayne',
 'Jaunita',
 'Julie',
 'Janis',
 'Jeanine',
 'Josefina',
 'Josie',
 'Juana',
 'Jeanetta',
 'Jeanie',
 'Joseph',
 'Joan',
 'Jean',
 'Joyce',
 'June',
 'Josephine',
 'Joanne',
 'Jeanne',
 'Jacqueline',
 'Jane',
 'Juanita',
 'Janet',
 'Jeanette',
 'Joann',
 'Jeannine',
 'Julia',
 'Janice',
 'Jo',
 'Joy',
 'Jacquelyn',
 'Jeannette',
 'Jennie',
 'Jessie',
 'Judith',
 'Jackie',
 'Jeanine',
 'Judy',
 'Joanna',
 'Julie',
 'Jewel',
 'John',
 'Jerry',
 'Johanna',
 'Janis',
 'Jewell',
 'Johnnie',
 'Jill',
 'Joe',
 'Josie',
 'James',
 'Jan',
 'Josefina',
 'Justine',
 'Janette',
 'Jeanie',
 'Jenny',
 'Jocelyn',
 'Jack',
 'Jaunita',
 'Juliette',
 'Joan',
 'Jean',
 'Joyce',
 'June',
 'Joanne',
 'Josephine',
 'Janet',
 'Jacqueline',
 'Jane',
 'Jeanne',
 'Juanita',
 'Jeanette',
 'Joann',
 'Janice',
 'Joy',
 'Julia',
 'Jo',
 'Jeannette',
 'Judith',
 'Jacquelyn',
 'Jessie',
 'Jennie',
 'Jeannine',
 'Jackie',
 'Joanna',
 'John',
 'Jeanine',
 'Jewel',
 'Johanna',
 'Judy',
 'James',
 'Jerry',
 'Julie',
 'Janis',
 'Jenny',
 'Jacquelin',
 'Joe',
 'Janette',
 'Jewell',
 'Joseph',
 'Julianne',
 'Janie',
 'Jayne',
 'Jill',
 'Josefina',
 'Josie',
 'Jack',
 'Jarmila',
 'Johnnie',
 'Joan',
 'Jean',
 'Joyce',
 'Joanne',
 'June',
 'Janet',
 'Jacqueline',
 'Jane',
 'Jeanne',
 'Joann',
 'Josephine',
 'Juanita',
 'Jeanette',
 'Janice',
 'Julia',
 'Judith',
 'Jo',
 'Joy',
 'Jeannine',
 'Jacquelyn',
 'Jeannette',
 'Jessie',
 'Jennie',
 'Jackie',
 'Jeanine',
 'Joanna',
 'Jerry',
 'Judy',
 'Jayne',
 'Julie',
 'Jewel',
 'Jill',
 'John',
 'James',
 'Jenny',
 'Jewell',
 'Joretta',
 'Julianne',
 'Janis',
 'Johanna',
 'Joseph',
 'Janie',
 'Jacquelin',
 'Jan',
 'Janette',
 'Joe',
 'Johnnie',
 'Josie',
 'Jule',
 'Justine',
 'Janine',
 'Joan',
 'Jean',
 'Joyce',
 'Joanne',
 'June',
 'Janet',
 'Jane',
 'Joann',
 'Jacqueline',
 'Josephine',
 'Juanita',
 'Jeanette',
 'Jeanne',
 'Janice',
 'Judith',
 'Jo',
 'Joy',
 'Julia',
 'Jeannette',
 'Judy',
 'Jennie',
 'Jeannine',
 'Jessie',
 'Jacquelyn',
 'Jackie',
 'Janis',
 'Julie',
 'Jewell',
 'Jeanine',
 'Joanna',
 'Johanna',
 'Jewel',
 'John',
 'Janette',
 'James',
 'Julianne',
 'Jenny',
 'Joseph',
 'Justine',
 'Jeanie',
 'Jeri',
 'Jerry',
 'Jaunita',
 'Jeraldine',
 'Jill',
 'Jacqualine',
 'Jacquelin',
 'Jan',
 'Jayne',
 'Jeanene',
 'Joan',
 'Joyce',
 'Jean',
 'Janet',
 'Joanne',
 'June',
 'Jane',
 'Jacqueline',
 'Joann',
 'Josephine',
 'Juanita',
 'Judith',
 'Jeanette',
 'Jeanne',
 'Janice',
 'Jo',
 'Julia',
 'Judy',
 'Joy',
 'Jacquelyn',
 'Jeannette',
 'Jessie',
 'Jennie',
 'Jeannine',
 'Jackie',
 'Janis',
 'Joanna',
 'Julie',
 'Johanna',
 'Jeanine',
 'Jenny',
 'James',
 'Jewel',
 'John',
 'Janette',
 'Jerry',
 'Jewell',
 'Jayne',
 'Julianne',
 'Justine',
 'Jacquelin',
 'Jan',
 'Janie',
 'Joe',
 'Jack',
 'Janine',
 'Jill',
 'Jeanie',
 'Jeannie',
 'Jeraldine',
 'Johnnie',
 'Joseph',
 'Joan',
 'Joyce',
 'Jean',
 'Janet',
 'Joanne',
 'Joann',
 'June',
 'Jacqueline',
 'Jane',
 'Judith',
 'Josephine',
 'Janice',
 'Juanita',
 'Jo',
 'Jeanette',
 'Jeanne',
 'Judy',
 'Julia',
 'Joy',
 'Jeannette',
 'Jacquelyn',
 'Jessie',
 'Jackie',
 'Jennie',
 'Jeannine',
 'Johanna',
 'Janis',
 'Joanna',
 'Julie',
 'Jeanine',
 'Jill',
 'Jocelyn',
 'Janette',
 'Janie',
 'Jerry',
 'Jewel',
 'Jewell',
 'John',
 'Joe',
 'Jan',
 'Jenny',
 'James',
 'Jayne',
 'Jeanie',
 ...]

Goal 4: Sort names by their length.

Goal 5: Name whose popularity has changed the most.

**Source**

This notebook was adapted from:
* [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas
* Python for Data Analysis by Wes McKinney
* Data 100: Principles and Techniques of Data Science by Anthony Joseph, et. al.