# Pandas Basics

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
import pandas as pd

#plt.style.use('fivethirtyeight')
#sns.set_context("notebook")

## Creating a Dataframe </a>

Pandas introduces a data structure (i.e. dataframe) that represents data as a table with columns and rows.

In Pandas, we can use the function `pd.DataFrame` to initialize a dataframe from a dictionary or a list-like object. Refer to the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) for more information

In [4]:
# example: creating a dataframe from a dictionary
df_from_dict = pd.DataFrame({ 'letter' : ['a', 'b', 'c', 'z'],
                      'count' : [  9,   3,   3,    1]
                      'points' : [  1,   2,   2,  10]
                      })
df_from_dict

SyntaxError: invalid syntax (4132924901.py, line 4)

We can also use list of dictionary to initialize a dataframe:

In [13]:
# example: creating a dataframe from a list of dictionary
df_from_listofdict = pd.DataFrame([
    {"letter":"a","count":9,"points":1,"name":"abc"},
    {"letter":"b","count":3,"points":2},
    {"letter":"c","count":3,"points":2},
    {"letter":"d","count":1,"points":10},
])
df_from_listofdict

  letter  count  points name
0      a      9       1  abc
1      b      3       2  NaN
2      c      3       2  NaN
3      d      1      10  NaN

## Reading in DataFrames from Files

Pandas has a number of very useful file reading tools. You can see them enumerated by typing "pd.re" and pressing tab. We'll be using read_csv today.

In [14]:
elections = pd.read_csv("elections.csv")
elections # if we end a cell with an expression or variable name, the result will print

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

We can use the head command to return only a few rows of a dataframe.

In [15]:
elections.head(10)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss
7   Clinton   Democratic  43.0  1992    win
8      Bush   Republican  37.4  1992   loss
9     Perot  Independent  18.9  1992   loss

There is also a tail command.

In [16]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The read_csv command lets us specify a column to use an index. For example, we could have used Year as the index.

In [17]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")    # 将"Year"这一列作为index
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

Alternately, we could have used the set_index commmand.

In [18]:
elections_party_index = elections.set_index("Party")  # 将Party设置为Index
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

The set_index command (along with all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe.

By contrast, column names are ideally unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically rename any duplicates.
列名是唯一的，若相同会自动生成一个不同的列名。

In [19]:
dups = pd.read_csv("duplicate_columns.csv")
dups

    name    name.1     flavor
0   john     smith    vanilla
1  zhang      shan  chocolate
2  fulan  alfulani        NaN
3   hong   gildong     banana

## The [] Operator

The DataFrame class has an indexing operator [] that lets you do a variety of different things. If your provide a String to the [] operator, you get back a Series corresponding to the requested label.

In [20]:
elections_year_index.head(6)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win

单独对列进行选择

In [21]:
elections_year_index["Candidate"]#.head(6)

Year
1980      Reagan
1980      Carter
1980    Anderson
1984      Reagan
1984     Mondale
1988        Bush
1988     Dukakis
1992     Clinton
1992        Bush
1992       Perot
1996     Clinton
1996        Dole
1996       Perot
2000        Gore
2000        Bush
2004       Kerry
2004        Bush
2008       Obama
2008      McCain
2012       Obama
2012      Romney
2016     Clinton
2016       Trump
Name: Candidate, dtype: object

The [] operator also accepts a list of strings. In this case, you get back a DataFrame corresponding to the requested strings.

In [22]:
elections_year_index[["Candidate", "Party"]].head()

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.
返回结果仍为DataFrame

In [23]:
elections_year_index[["Candidate"]].head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

Note that we can also use the to_frame method to turn a Series into a DataFrame.

In [24]:
elections_year_index["Candidate"].to_frame().head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

The [] operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

In [25]:
elections_year_index[0:3]

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss

If you provide a single argument to the [] operator, it tries to use it as a name. This is true even if the argument passed to [] is an integer.

In [28]:
elections_year_index[0] #this does not work, try uncommenting this to see it fail in action, woo

KeyError: 0

The following cells allow you to test your understanding.

In [29]:
weird = pd.DataFrame({
    1:["topdog","botdog"], 
    "1":["topcat","botcat"]
})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [30]:
weird[1]

0    topdog
1    botdog
Name: 1, dtype: object

In [31]:
weird["1"]

0    topcat
1    botcat
Name: 1, dtype: object

In [36]:
weird[0:]

        1       1
0  topdog  topcat
1  botdog  botcat

## Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a filtered version of the data frame, where only rows corresponding to True appear.

In [37]:
elections_year_index

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win
1988   Dukakis   Democratic  45.6   loss
1992   Clinton   Democratic  43.0    win
1992      Bush   Republican  37.4   loss
1992     Perot  Independent  18.9   loss
1996   Clinton   Democratic  49.2    win
1996      Dole   Republican  40.7   loss
1996     Perot  Independent   8.4   loss
2000      Gore   Democratic  48.4   loss
2000      Bush   Republican  47.9    win
2004     Kerry   Democratic  48.3   loss
2004      Bush   Republican  50.7    win
2008     Obama   Democratic  52.9    win
2008    McCain   Republican  45.7   loss
2012     Obama   Democratic  51.1    win
2012    Romney   Republican  47.2   loss
2016   Clinton   Democratic  48.2   loss
2016     Trump   Republican  46.1    win

In [38]:
elections_year_index[

(elections_year_index["%"]>=50)  & (elections_year_index["Party"]=="Democratic")
]

     Candidate       Party     % Result
Year
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win

One very common task in Data Science is filtering. Boolean Array Selection is one way to achieve this in Pandas. We start by observing logical operators like the equality operator can be applied to Pandas Series data to generate a Boolean Array. For example, we can compare the 'Result' column to the String 'win':

In [43]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [42]:
iswin = elections_year_index['Result'] == 'win'
iswin#.head(5)
# elections_year_index[elections_year_index['Result'] == 'win']

Year
1980     True
1980    False
1980    False
1984     True
1984    False
1988     True
1988    False
1992     True
1992    False
1992    False
1996     True
1996    False
1996    False
2000    False
2000     True
2004    False
2004     True
2008     True
2008    False
2012     True
2012    False
2016    False
2016     True
Name: Result, dtype: bool

The output of the logical operator applied to the Series is another Series with the same name and index, but of datatype boolean. The entry at row #i represents the result of the application of that operator to the entry of the original Series at row #i.

Such a boolean Series can be used as an argument to the [] operator. For example, the following code creates a DataFrame of all election winners since 1980.

In [44]:
elections_year_index[iswin]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

In [45]:
elections_year_index[elections_year_index['Result'] == 'win']

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

In [52]:
win50plus = (elections_year_index['Result'] == 'win') & (elections_year_index['%'] < 50)

In [53]:
win50plus.head(110)

Year
1980    False
1980    False
1980    False
1984    False
1984    False
1988    False
1988    False
1992     True
1992    False
1992    False
1996     True
1996    False
1996    False
2000    False
2000     True
2004    False
2004    False
2008    False
2008    False
2012    False
2012    False
2016    False
2016     True
dtype: bool

In [54]:
elections_year_index[(elections_year_index['Result'] == 'win')
          & (elections_year_index['%'] < 50)]

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

The | operator is the symbol for or.

In [55]:
elections_year_index[(elections_year_index['Party'] == 'Republican')
          | (elections_year_index['Party'] == "Democratic")]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

If we have multiple conditions (say Republican or Democratic), we can use the isin operator to simplify our code.

判断某列的元素是不是含有某些元素的方法：.isin()

In [56]:
elections_year_index['Party'].isin(["Republican", "Democratic"])

Year
1980     True
1980     True
1980    False
1984     True
1984     True
1988     True
1988     True
1992     True
1992     True
1992    False
1996     True
1996     True
1996    False
2000     True
2000     True
2004     True
2004     True
2008     True
2008     True
2012     True
2012     True
2016     True
2016     True
Name: Party, dtype: bool

In [58]:
elections_year_index[elections_year_index['Party'].isin(["Republican", "Democratic"])]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

## Label-based access with `loc`

同时筛选行和列：loc函数

In [59]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [62]:
elections.loc[[0, 1, 5, 6, 7], ['Candidate','Party', 'Year']]

  Candidate       Party  Year
0    Reagan  Republican  1980
1    Carter  Democratic  1980
5      Bush  Republican  1988
6   Dukakis  Democratic  1988
7   Clinton  Democratic  1992

Note: The `loc` command won't work with numeric arguments if we're using the elections DataFrame that was indexed by year.

In [63]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [64]:
#causes error
elections_year_index.loc[[1980], ['Candidate','Party']]#

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent

In [ ]:
elections_year_index.loc[[1980, 1984], ['Candidate','Party']]

Loc also supports slicing (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

In [ ]:
elections.loc[0:4, 'Candidate':'Year']

In [ ]:
elections_year_index.loc[1980:1984, 'Candidate':'Party']

If we provide only a single label for the column argument, we get back a Series.

In [ ]:
elections.loc[0:4, 'Candidate']

If we want a data frame instead and don't want to use to_frame, we can provde a list containing the column name.

In [ ]:
elections.loc[0:4, ['Candidate']]

If we give only one row but many column labels, we'll get back a Series corresponding to a row of the table. This new Series has a neat index, where each entry is the name of the column that the data came from.

In [ ]:
elections.head(1)

In [ ]:
elections.loc[0, 'Candidate':'Year']

In [ ]:
elections.loc[[0], 'Candidate':'Year']

If we omit the column argument altogether, the default behavior is to retrieve all columns.

In [ ]:
elections.loc[[2, 4, 5]]

Loc also supports boolean array inputs instead of labels. The Boolean arrays _must_ be of the same length as the row/column shape of the dataframe, respectively.

In [ ]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              [True, False, False, True, True] # column mask
             ]

In [ ]:
elections.loc[[0, 3], ['Candidate', 'Year']]

We can use boolean array arguments for one axis of the data, and labels for the other.

In [ ]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              
              'Candidate':'%' # column label slice
             ]

What happens if you give scalar arguments for the requested rows AND columns. The answer is that you get back just a single value.

In [ ]:
elections.loc[15, '%']

## Positional access with `iloc`

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. iloc slicing is **exclusive**, just like standard Python slicing of numerical values.

In [ ]:
elections.head(5)

In [ ]:
elections.iloc[:3, 2:]

## Quick Challenge

Return DataFrame of the first 3 Candidate and Year for candidates that won with more than 50% of the vote.

In [ ]:
elections.loc[elections["%"]>50, ["Candidate","Year"]].head(3)#iloc[:3]

## Connect to numpy

The values in dataframe can be converted to numpy arrays easily using ``.values``.

In [ ]:
elections.head()

In [ ]:
elections["%"].values

In [ ]:
elections.values.T

## Handy Properties and Utility Functions

### Python Operations on Numerical DataFrames and Series

We can perform various Python operations (including numpy operations) to DataFrames and Series.

In [ ]:
max()

In [ ]:
np.mean(elections["%"])

We can also do more complicated operations like computing the mean squared error, i.e. the average L2 loss. (This will mean more in the next few weeks.)

In [ ]:
c = 50.38
mse = np.mean((c - winners)**2)
mse

In [ ]:
c2 = 50.35
mse2 = np.mean((c2 - winners)**2)
mse2

We can also apply mathematical operations to a DataFrame so long as it has only numerical data.

In [ ]:
(elections[["%", "Year"]] + 3).head(5)

### Handy Utility Methods

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with.

We can get a direct reference to the index using `.index`, and access the column names using `.columns`

In [ ]:
elections.index
elections.columns

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [ ]:
elections.sort_values('%', ascending=False)

For Series, the `value_counts` method is often quite handy.

In [ ]:
elections['Party'].value_counts()

Also commonly used is the `unique` method, which returns all unique values as a numpy array.

In [ ]:
elections['Candidate'].unique()

# Baby Names Data Analysis

Now let's play around a bit with a babyname dataset.

In [ ]:
# load the data
column_names = ['State', 'Sex', 'Year', 'Name', 'Count']
babynames = pd.read_csv("./baby_name_IL.TXT", header=None, names=column_names)

babynames.head(5)

Goal 1: What's the data types of each column?

Goal 2: Find the most popular baby name in IL in 2018

Goal 3: Baby names that start with J.

Goal 4: Sort names by their length.

Goal 5: Name whose popularity has changed the most.

**Source**

This notebook was adapted from:
* [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas
* Python for Data Analysis by Wes McKinney
* Data 100: Principles and Techniques of Data Science by Anthony Joseph, et. al.