homework 3

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Numpy

## Cosine Similarity
Calculate the cosine similarity of 2 vectors (as numpy arrays).

Give vector $\vec{\mu}$ and vector $\vec{v}$, the cosine similarity of them is 

$$S_{\vec{\mu}\vec{v}}=\frac{\vec{\mu}\cdot\vec{v}}{||\vec{\mu}||_2\times||\vec{v}||_2}$$

Where $||\cdot||_2$ is the L-2 norm.

**<font color='red'>Question:</font>**  Define a CosSim function, with inputs are two one-D arrays, and the output is their cosine similarity.

In [ ]:
# your code here
def CosSim(u, v):
    ...
    return

In [ ]:
# validate your results

x = np.linspace(-1,1,100)
y = np.linspace(1,-1,100)

print(
    """The cosine similarity between x and x is {:.5f}
The cosine similarity between x and y is {:.5f}
    """.format(CosSim(x,x), CosSim(x,y))
     )

## Linear Algebra

Solve the following Linear equation system:

$$
\begin{cases} 
4x+3y+2z=25\\ 
-2x+2y+3z=-10\\ 
3x-5y+2z=-4\\ 
\end{cases} 
$$

**<font color='red'>Question:</font>** Define a 2-d array $A$ and a 1-d array $b$ according to the above equation, which satisfy $AX=b$, where $X=(x, y, z)^T$

In [ ]:
# your code here


print (A)
print (b)

**<font color='red'>Question:</font>** Solve the equation, to get the values of $X$. 

Hint: you may use `numpy.linalg.inv()` to get the inverse of a matrix.

# Baby Names Data Analysis

Load the ``baby_name_NY.txt`` dataset, which contains the baby names in New York city.

In [3]:
# load the data
column_names = ['State', 'Sex', 'Year', 'Name', 'Count']
babynames = pd.read_csv("./baby_name_NY.TXT", header=None, names=column_names)

babynames.head(5)

  State Sex  Year      Name  Count
0    NY   F  1910      Mary   1923
1    NY   F  1910     Helen   1290
2    NY   F  1910      Rose    990
3    NY   F  1910      Anna    951
4    NY   F  1910  Margaret    926

**<font color='red'>Question:</font>** What's the data types of each column?

**<font color='red'>Question:</font>** Find the most popular baby name in IL in 2018

**<font color='red'>Question:</font>**  For female and male, what's the most popular baby names in 2017 respectively?

**<font color='red'>Question:</font>** List all baby names that start with J.

**<font color='red'>Question:</font>** Sort names by their length, then print the top 5 by length.

**<font color='red'>Question:</font>** Name whose popularity has changed the most.

**Hint**: First you may need to define change in popularity, i.e., for each name, you need to find the difference between the name's maximum occurrence and minimum occurrence.

# Single variable analysis

The `Salaries.csv` dataset contains the salaries of employees in San Francisco, see details [here](https://transparentcalifornia.com/salaries/san-francisco/).

**<font color='red'>Question:</font>** Read the data using pandas, save it as a Dataframe called `Salaries_df`

In [ ]:
Salaries_df = ...

Salaries_df

**<font color='red'>Question:</font>** Make a bar plot to show the number of DataRecords by year.

**<font color='red'>Question:</font>** Make a histogram to show distribution of the variable `TotalPayBenefits`.

**<font color='red'>Question:</font>** Calculate the (min, 1st quartile, median, 3rd quartile, max) of the variable `TotalPayBenefits`.

**<font color='red'>Question:</font>** Make a box plot for the variable `TotalPayBenefits`.

**<font color='red'>Question:</font>** What you can conclude from the box plot above?

# The end